In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import xgboost as xgb

In [8]:
dataset = pd.read_csv('/content/train (1).csv')

In [9]:
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
y_train = dataset['Survived']

In [11]:
x_train = dataset

In [12]:
sex = []
for x in dataset['Sex']:
  if x == 'male':
    sex.append(1)
  else:
    sex.append(0)

In [13]:
sex = np.asarray(sex)

In [14]:
gender = pd.DataFrame(sex, columns = ['sex'])

In [15]:
age = dataset['Age']

In [16]:
age = age.fillna(21)

In [17]:
age = np.asarray(age)
age = pd.DataFrame(age, columns = ['aged'])

In [18]:
fare = dataset['Fare']
type(fare)

fare.isnull().sum()

0

In [19]:
x_train = dataset.drop(['Survived'],axis =1)
x_train = x_train.drop(['PassengerId'],axis =1)
x_train = x_train.drop(['Name'],axis =1)
x_train = x_train.drop(['Sex'],axis =1)
x_train = x_train.drop(['Ticket'],axis =1)
#x_train = x_train.drop(['Fare'],axis =1)
x_train = x_train.drop(['Cabin'],axis =1)
x_train = x_train.drop(['Embarked'],axis =1)
x_train = x_train.drop(['Age'],axis =1)
x_train = x_train.join(gender["sex"])
x_train = x_train.join(age["aged"])

In [20]:
print(x_train)

     Pclass  SibSp  Parch     Fare  sex  aged
0         3      1      0   7.2500    1  22.0
1         1      1      0  71.2833    0  38.0
2         3      0      0   7.9250    0  26.0
3         1      1      0  53.1000    0  35.0
4         3      0      0   8.0500    1  35.0
..      ...    ...    ...      ...  ...   ...
886       2      0      0  13.0000    1  27.0
887       1      0      0  30.0000    0  19.0
888       3      1      2  23.4500    0  21.0
889       1      0      0  30.0000    1  26.0
890       3      0      0   7.7500    1  32.0

[891 rows x 6 columns]

In [21]:
x_train = x_train.dropna()
x_train.isnull().sum()

Pclass    0
SibSp     0
Parch     0
Fare      0
sex       0
aged      0
dtype: int64

In [22]:
y_train.isnull().sum()

0

In [23]:
model = xgb.XGBClassifier(max_depth = 5, learning_rate = 0.01,objective = 'binary:logistic', n_jobs = -1)
model.fit(x_train,y_train)

XGBClassifier(learning_rate=0.01, max_depth=5, n_jobs=-1)

In [24]:
x_train_pred = model.predict(x_train)
print(x_train_pred)

[0 1 1 1 0 0 0 0 1 1 1 1 0 0 1 1 0 0 1 1 0 0 1 0 1 0 0 0 1 0 0 1 1 0 0 0 0
 0 1 1 0 1 0 1 1 0 0 1 0 1 0 0 1 1 0 0 1 0 1 0 0 1 0 0 0 0 1 0 1 0 0 0 0 0
 1 0 0 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0
 1 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0 0 1 1 1 0 0 0 0 0
 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 1 0 0 1 0 0 0 0 1 0 0 0 0 0 1 1
 0 1 1 0 0 1 0 1 1 1 1 0 0 1 1 0 0 0 0 0 1 0 0 1 0 0 1 0 0 0 1 1 0 1 0 0 0
 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 1 1
 1 0 0 0 0 1 0 0 0 1 1 0 0 1 0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 1 0 1 0 0
 0 1 0 1 1 0 0 1 0 1 1 1 0 1 1 1 1 0 0 1 1 0 1 1 0 0 1 1 0 1 0 1 1 1 1 0 0
 0 1 0 0 1 0 0 1 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 0 0 1 1 1 1
 0 0 0 0 1 1 1 0 0 0 1 1 0 1 0 0 0 1 0 1 0 0 0 1 1 0 0 0 0 1 0 0 1 0 1 0 0
 1 0 0 0 0 1 0 0 1 1 1 0 0 0 0 0 0 0 0 1 1 0 0 1 1 1 0 0 1 0 1 0 0 1 0 0 1
 0 1 1 1 1 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 1 1 0 0 0 0 1 0
 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 1 0 0 1 1 0 1 0 1 0 0 1 0 0 1 1 0 0 1 0
 1 0 1 0 0 1 0 0 1 0 0 0 1 0 0 1 0 1 1 1 0 1 1 0 0 0 0 0 1 0 0 1 0 0 0 0 1
 0 1 0 1 1 0 0 0 0 1 0 0 1 0 0 0 1 1 1 0 0 1 1 1 0 1 1 0 0 0 1 0 0 0 0 0 1
 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 1 1 1 0 0 1 0 0 1 0 1 1 0 0 0 0 0 0 0 0 1 0
 0 0 0 0 0 0 1 0 0 0 0 0 1 0 1 1 0 0 0 0 1 0 1 0 1 1 0 0 1 0 0 0 0 0 0 0 0
 0 0 0 1 1 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 1 0 0 1 1 1
 0 0 0 1 1 1 0 1 0 0 0 0 0 1 1 0 0 1 0 0 0 0 0 1 1 0 1 1 0 0 0 0 0 0 0 0 0
 0 0 1 0 0 0 0 1 0 0 1 1 0 0 1 1 0 0 0 1 0 0 0 1 0 1 0 0 0 0 0 0 1 0 1 0 0
 1 0 1 1 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 1 1 1 0 0 0 1 0 1 0 0 0 0
 0 0 1 0 0 0 1 0 0 1 0 0 1 1 0 1 1 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 0 0 0 1 0
 0 1 1 1 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 1 0 0 1 1 0 0 0 1 1 0 1 0 0 0 0 1
 0 1 0]

In [25]:
accuracy_score_a = accuracy_score(x_train_pred, y_train)

In [26]:
print('accuracy score of training data :',accuracy_score_a)

accuracy score of training data : 0.8574635241301908

In [28]:
test_dataset = pd.read_csv('/content/test.csv')

In [29]:
test_dataset.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [30]:
sex1 = []
for x in test_dataset['Sex']:
  if x == 'male':
    sex1.append(1)
  else:
    sex1.append(0)

In [31]:
sex1 = np.asarray(sex1)

In [34]:
gender1 = pd.DataFrame(sex1, columns = ['sex'])

In [32]:
age1 = test_dataset['Age']

In [33]:
age1.isnull().sum()

86

In [35]:
age1 = age1.fillna(21)

In [36]:
age1 = np.asarray(age1)
age1 = pd.DataFrame(age1, columns = ['aged'])

In [37]:
x_test = test_dataset
x_test = x_test.drop(['PassengerId'],axis =1)
x_test = x_test.drop(['Name'],axis =1)
x_test = x_test.drop(['Sex'],axis =1)
x_test = x_test.drop(['Ticket'],axis =1)
#x_test = x_test.drop(['Fare'],axis =1)
x_test = x_test.drop(['Cabin'],axis =1)
x_test = x_test.drop(['Embarked'],axis =1)
x_test = x_test.drop(['Age'],axis =1)
x_test = x_test.join(gender1["sex"])
x_test = x_test.join(age1["aged"])

In [38]:
x_test
type(x_test)
x_test.shape

(418, 6)

In [39]:

y_test_pred = model.predict(x_test)

In [ ]:
y_test_pred

In [45]:
passengerid = test_dataset['PassengerId']
type(passengerid)

pandas.core.series.Series

In [46]:
passengerid = passengerid.to_frame(name="PassengerId")

In [47]:
passengerid['Survived'] = y_test_pred

In [48]:
passengerid.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [49]:
passengerid.shape

(418, 2)

In [50]:
passengerid.to_csv('4th_pred.csv')

In [ ]:
check = pd.read_csv('/content/1st_pred.csv')